<ul>
<% for(var i = 0; i < comments.length; i++) { %>
<% var comment = comments[i]; %>
<% if(_.contains(alreadyProcessed, comment.get('id')))
	continue; %>
<% alreadyProcessed.push(comment.get('id')); %>
<li id="comment<%= comment.get('id') %>">
	<span class="commenter-head"><strong><%= comment.get('name') %></strong> on <strong><%= displayDate(new Date(comment.get('createdAt'))) %></strong> wrote:</span>
	<p><%= filterCommentText(comment.get('text')) %></p>
	<button class="reply" id="replyOn<%= comment.get('id') %>">Reply</button>
	<% if (commentsByParentId[comment.get('id')]) { %>
	<%= render(commentsByParentId[comment.get('id')], commentsByParentId, alreadyProcessed, render) %>
	<% } %>
</li>
<% } %>
</ul>