<?xml version="1.0" encoding="UTF-8"?>
<!--

 Commenter
 Copyright (C) 2014 Bastiaan Welmers, bastiaan@welmers.net

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License version 2 as
 published by the Free Software Foundation.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 version 2 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

    <description>Commenter</description>
    <display-name>Commenter</display-name>
 
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
	</welcome-file-list>   

	
	<filter>
	  <filter-name>struts2</filter-name>
	  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter>
		<filter-name>cors</filter-name>
		<filter-class>bast1aan.commenter.CorsFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	  <filter-name>struts2</filter-name>
	   <url-pattern>*.action</url-pattern>
	</filter-mapping>
    
	<servlet>
      <servlet-name>HelloWorld</servlet-name>
      <servlet-class>bast1aan.commenter.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet>
      <servlet-name>Redirect</servlet-name>
      <servlet-class>bast1aan.commenter.RedirectServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>


</web-app>
